<head>
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<img id="cursor" src="cursor.png">
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Department of Motor Vehicles</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION --> 
					<center><img src="gun.png" class="logo"><br><p class="bold-text">Welcome to the gun Center</center>
					<br><center>We require all of our citizens to go through a theory test before obtaining a valid driving license.<br>Take your time, and answer with common sence, do not take any lucky guesses.<br><br></center>
					Theory Test<br>
					- The written test costs $200 bucks, there are no refunds if you fail.<br>
					- Do not worry, the gun Center will allow loans, watch out not to fall in big debt!<br>
					- If you fail the test once, you cannot take it again right away, come back another day and try again.<br><br>
					Driving Test<br>
					- The Driving test costs $500 bucks, like before, this payment is not refunded if you fail the test.<br>
					- The main purpose of the driving test is the attention to detail, pay attention to your surroundings and do not crash!</p>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnQuestion">Start</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>		
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
	              		<button type="submit" id="submit" class="submit">Next question</button>
	          		</form>
				</div>
				<div class ="barre-progression">
					<h2>Progress</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Résults -->
			<div class="body resultGood">
				<div class="content">
					<center><p class="bold-text">Good job !</p><br><br>You did pretty good during the test!<br><br>You can now close this window and proceed to take the driving test.</center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnClose">Close</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center><p class="bold-text">You failed</p><br><br>You are not ready for this test, try again another time...<br><br></center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnKick">Close</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progress</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
		</div>
	</div>
</body>



					